ul {
  padding: 0;
  margin: 0;
  list-style: none;
  }
  
  li {
  float: left;
  position: relative;
  width: 10em;
  }
  
  li ul {
  display: none;
  position: absolute; 
  top: 1em;
  left: 0;
  }
  
  li > ul {
	top: auto;
	left: auto;
	}
li:hover ul { display: block; background:#ccff00; }